<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
              </div>



              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="register.html">Create an Account!</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
      <form action="/login" method="POST">
        <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-envelope"></i></div>
            </div>
            <input type="text" name="email" class="form-control {{#if errors.email}} is-invalid {{/if}}" placeholder="Email" value="{{ user.email }}"/>
            <div class="invalid-feedback">
              {{ errors.email }}
            </div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-lock"></i></div>
            </div>
            <input type="password" name="password" class="form-control {{#if errors.password}} is-invalid {{/if}}" placeholder="Password" />
            <div class="invalid-feedback">
              {{ errors.password }}
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
      </form>
      <hr>
      <p class="text-center mt-2">Not registered yet? <a href="/register">Do register</a></p>