
    <div>
    <form action="editDashboard/getGraphics" method="GET">


    <div class="form-group">
      <label>Origin Type</label>
      <input type="text" class="form-control" name="originType" value="">
    </div>


    <div class="form-group">
      <label>Min date</label>
      <input type="text" class="form-control" name="minDate">
    </div>

    <div class="form-group">
      <label>Max date</label>
      <input type="text" class="form-control" name="maxDate">
    </div>

    <div class="d-flex">
      <button type="submit" class="btn btn-primary mr-3">Submit</button>
      <a class="btn btn-secondary" href="/places">Back</a>
    </div>
  </form>
  </div>