<div id='map' class='map pad2'></div>
<script>
  mapboxgl.accessToken = '{{token}}';
  var places = JSON.parse(decodeURI('{{places}}')) 
  var zipCodes = JSON.parse(decodeURI('{{zipCodeCoords}}'))
  var geojson = {
    "type": "FeatureCollection",
    "features": places
  }
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: zipCodes.location.coordinates,
    zoom: 10, 
    maxBounds: [
      zipCodes.southwest.coordinates, // Southwest coordinates
      zipCodes.northeast.coordinates  // Northeast coordinates
    ]
  });

  geojson.features.forEach(function(marker) {
    console.log(marker.properties.icon)
    // create a DOM element for the marker
    var el = document.createElement('div');
    el.className = 'marker';
    el.style.backgroundImage = `url(${marker.properties.icon})`;
    el.style.width = '10px';
    el.style.height = '10px';
    el.style.backgroundSize = 'contain';
        
    el.addEventListener('click', function() {
      window.alert(marker.name);
    });
    
    // add marker to map
    new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map);
  });


</script>