<div class='main-container'>
  <div class='row row-wrapper'>
    <div class='col'>
      {{>map}}
    </div>
    <div class='col'>
        <div class='graphs-table row'>
        {{#each graphs as |graph|}}
        <div class="{{../className}}">
          <canvas id={{graph.type}} data-params={{graph.data}} class="graphs "></canvas>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>



