<div class='graphs-table'>
  {{#each graphs as |graph|}}
  {{!-- info.x habria que cambiarlo cuando redefinamos set --}}
    <div id={{graph.info.x}} data-params={{graph.data}} class="graphs"></div>
  {{/each}}
</div>