<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
     integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {{#if dashBoard}}
      <link rel='stylesheet' href='/stylesheets/graphics.css' />
    {{/if}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#if showMap}}
      {{>mapboxScripts}}
    {{/if}}
    {{#if showGoogleMap}}
      {{>googleMapScripts}}
    {{/if}}
  </head>
  <body>
    {{>navbar}}
    {{{body}}}
  {{#if showGoogleMap}}
    <script src="https://maps.googleapis.com/maps/api/js?v=quarterly&key=AIzaSyBD3uxK2swjogbpLfQwItu7TqEpaVS5w3E&callback=initMap"></script>
  {{/if}}
  {{#if dashboard}}
    {{>d3Scripts}}
  {{/if}}
  </body>
</html>
