
    <div>
    <form action="dashboard" method="GET">


    <div class="form-group">
      <label>Origin Type</label>
      <input type="text" class="form-control" name="origin_type" value="">
    </div>


    <div class="form-group">
      <label>Min date</label>
      <input type="text" class="form-control" name="min_date">
    </div>

    <div class="form-group">
      <label>Max date</label>
      <input type="text" class="form-control" name="max_date">
    </div>

    <div class="d-flex">
      <button type="submit" class="btn btn-primary mr-3">Submit</button>
      <a class="btn btn-secondary" href="/places">Back</a>
    </div>
  </form>
  </div>