<div class='sidebar pad2'>Listing</div>
<div id='map' class='map pad2'>Map</div>

<script>
L.mapbox.accessToken = '{{token}}';

var map = L.mapbox.map('map')
  .setView([38.909671288923, -77.034084142948], 13)
  .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/light-v10'))
  .featureLayer.setGeoJSON(geojson);
</script>